
.footer {
    background-color: #333;
    color: white;
    padding-top:500px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.social-media li {
    margin-left: 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    color: #ccc;
}

